.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img-parent-container {
  float: left;
}
.img-parent-content {
  float: right;
}
.img-node {
  width: 242px;
  height: 200px;
}

.current-octions-grid {
  margin-top: 50px;
}

.retail-price-p {
  color: rgba(16, 10, 24, 0.65);
}

.h1-header-items-in-auction {

  color: rgba(16, 10, 24, 0.65);
}